@import 'variables';

.escritorio{
    opacity: 0;
}

.degradado{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 800;
    transition: ease-in-out .25s;
}

.movil{
    width: 80%;
    max-width: 768px;
    height: 70vh;
    background: $blanco;
    position: fixed;
    top: 0;
    left: -80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*position: relative;*/
    z-index: 1000;
    transition: ease-in-out .15s;
    a{
        width: 100%;
        padding: 2rem;
        cursor: pointer;
        font-family: $texto;
        font-weight: 700;
        color: $negro;
        font-size: 1rem;
        text-decoration: none;
        transition: ease-in-out .15s;
        &:hover{
            color: $azul;
        }
    }
    .salir{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        font-family: $texto;
        font-weight: 700;
        font-size: 1rem;
        color: $blanco;
        background: $rosado;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out .15s;
        &:hover{
            background: $rosado-hover;

        }
    }
}

.btnMenu{
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $blanco;
    box-shadow: 0 0 25px rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 600;
    i{
        font-size: 1.5rem;
        color: $rosado;
    }
}

@media screen and(max-width: 768px){
    //Menú móvil
    .movil{
        height: 100vh;
        display: flex;
    }
    .btnMenu{
        display: flex;
    }
    .degradado{
        display: flex;
    }
}

@media screen and (max-width: 1024px){    
    //Menú escritorio
    .escritorio{
        opacity: 1;
        position: sticky;
        top: 0;
        padding: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .enlaces{
            a{
                padding: 0 1.8rem;
                cursor: pointer;
                font-family: $texto;
                font-weight: 700;
                color: $negro;
                font-size: 1rem;
                text-decoration: none;
                transition: ease-in-out .15s;
                &:hover{
                    color: $azul;
                }
            }
        }
    }
}